<!-- public/views/home.html -->
<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>

    <h1 class="header center orange-text">
        <img class="responsive-img" style="width: 450px;" src="public/resources/logo.gif" />
    </h1>
    <div class="row center">
      <h5 class="header col s12 light">Sistema Automatizado de Frequência e Análise de Dados</h5>
    </div>
    <br><br>
  </div>
</div>
<div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="large material-icons">flash_on</i></h2>
            <h5 class="center">Registro de Frequência Rápido</h5>

            <p class="light" align="center">O S.A.F.A.Da automatiza o processo de registro de frequência, tornando-o mais rápido.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="large material-icons">thumbs_up_down</i></h2>
            <h5 class="center">Processo de Feedback Simplificado</h5>

            <p class="light" align="center">Feedback de forma rápida e fácil, de forma a tornar a aula de professor cada vez melhor</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="large material-icons">assessment</i></h2>
            <h5 class="center">Visualização Amigável de Dados</h5>

            <p class="light" align="center">Dados sobre a frequência de alunos e professores, bem como os feedbacks coletados, ficarão disponíveis através de uma interface amigável</p>
          </div>
        </div>
      </div>

    </div>
    <br><br>

    <div class="section">

    </div>
  </div>
