<script type="text/javascript">
  $(document).ready(function(){
   // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
   $('.modal-trigger').leanModal({
     dismissible: true, // Modal can be dismissed by clicking outside of the modal
     opacity: .50 // Opacity of modal background
   });

   // Initialize collapse button
   $(".button-collapse").sideNav();
  });

  function closeModal(){
    $('#modal1').closeModal();
  }
</script>

<nav class="light-blue lighten-1" role="navigation" ng-controller="MainCtrl">
  <div class="nav-wrapper container">
    <ul class="right hide-on-med-and-down">
      <li><a class="modal-trigger" href="#modal1" ng-show="!isLoggedIn">Sign In</a></li>
      <li><a ng-click="logOut()" ng-show="isLoggedIn">logOut</a></li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li><a class="modal-trigger" href="#modal1" ng-show="!isLoggedIn">Sign In</a></li>
      <li><a ng-click="logOut()" ng-show="isLoggedIn">logOut</a></li>
    </ul>
    <a href="#test" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>

<!-- Modal Structure -->
<div id="modal1" class="modal" style="box-shadow: none; background-color:transparent; position:fixed; height: 600px; overflow-y: hidden; width: 500px;">
  <div class="modal-content" style="padding: 0;">
    <div ng-include src="'public/views/login.html'"></div>
  </div>
</div>
