<!DOCTYPE html>
<html>
  <head>
    <style media="screen">
      h6{
        font-size: 0.9rem;
      }
      h2 {
        font-family:Roboto;
        font-weight: 300;
        text-align: center;
      }
    </style>
    <script type="text/javascript">
    var ctx = document.getElementById("myChart").getContext('2d');
    var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
      labels: ["ESS", "Métodos", "GDI"],
      datasets: [{
        label: 'Faltas',
        data: [12, 19, 3],
        backgroundColor: "rgba(153,255,51,1)"
      }, {
        label: 'Presença',
        data: [30, 29, 5],
        backgroundColor: "rgba(255,153,0,1)"
      }]
    }
    });
    </script>
  </head>
  <body>
    <div id="profile-page-header" class="card">
        <div class="card-image waves-effect waves-block waves-light" style="height: 250px;">
            <img class="activator" src="public/resources/user-profile-bg.jpg" alt="user background">
        </div>
        <figure class="card-profile-image" style="width: 110px; position: absolute; top: 190px; z-index: 1; left: 40px; cursor: pointer; margin: 0;">
            <img src="public/resources/avatar.png" alt="profile image" class="circle z-depth-2 responsive-img activator">
        </figure>
        <div class="card-content" style="margin-top: -40px; height: 120px;">
          <div class="row">
            <div class="col s3 offset-s2">
                <h4 class="card-title grey-text text-darken-4">{{currentUser.name}}</h4>
                <h6><p class="grey-text">Student</p></h6>
            </div>
            <div class="col s2 center-align">
                <h4 class="card-title grey-text text-darken-4">5</h4>
                <h6><p class="grey-text">Cadeiras</p></h6>
            </div>
            <div class="col s2 center-align">
                <h4 class="card-title grey-text text-darken-4">17</h4>
                <h6><p class="grey-text">Faltas</p></h6>
            </div>
            <div class="col s2 center-align">
                <h4 class="card-title grey-text text-darken-4">3</h4>
                <h6><p class="grey-text">Avaliações</p></h6>
            </div>
            <div class="col s1 right-align">
              <a class="btn-floating activator waves-effect waves-light orange right">
                  <i class="small material-icons">perm_identity</i>
              </a>
            </div>
          </div>
        </div>
        <div class="card-reveal" style="display: none; transform: translateY(0px);">

            <p>
              <span class="card-title orange-text">{{currentUser.name}}<i class="fa fa-times right" aria-hidden="true"></i></span>
            </p>
            <p>
              <span><i class="fa fa-user" aria-hidden="true"></i> Student</span>
            </p>
            <p><i class="fa fa-address-card-o" aria-hidden="true"></i> 101.496.604-77</p>
            <p><i class="fa fa-phone" aria-hidden="true"></i> +55 (81) 9999 8989</p>
            <p><i class="fa fa-envelope-o" aria-hidden="true"></i> {{currentUser.email}}</p>
            <p><i class="fa fa-birthday-cake" aria-hidden="true"></i> 18th June 1990</p>
        </div>
    </div>
    <div class="row">
      <div class="col s12">
        <h2 class="blue-text">Registro de Aulas</h2>
        <table class="striped">
        <thead>
          <tr>
              <th data-field="id">Cadeira</th>
              <th data-field="id">Professor</th>
              <th data-field="name">Data</th>
              <th data-field="price">Avaliação</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>ESS</td>
            <td>Kiev</td>
            <td>08:00 - 10:00 20/11/2016</td>
            <td> - </td>
          </tr>
          <tr>
            <td>GDI</td>
            <td>Robson</td>
            <td>10:00 - 12:00 15/11/2016</td>
            <td> - </td>
          </tr>
          <tr>
            <td>Métodos</td>
            <td>Renato</td>
            <td>13:00 - 15:00 10/11/2016</td>
            <td> - </td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>
    <div class="row">
      <div class="col s6">
        <h2 class="blue-text">Faltas por Cadeira</h2>
        <canvas id="bar" class="chart chart-bar animated slideInLeft"
          chart-data="G1_data" chart-labels="G1_labels" chart-series="series">
        </canvas>
      </div>
      <div class="col s6">
        <h2 class="blue-text">Faltas por Mês</h2>
        <canvas id="line" class="chart chart-line animated slideInRight" chart-data="G3_data"
        chart-labels="G3_labels" chart-series="G1_series" chart-options="G3_options"
        chart-dataset-override="G3_datasetOverride" chart-click="G3_onClick">
        </canvas>
      </div>
    </div>
    <div class="row">
      <div class="col s6">
        <h2 class="blue-text">Minha % de Faltas</h2>
        <canvas id="pie" class="chart chart-pie animated slideInLeft"
          chart-data="G2_data" chart-labels="G2_labels" chart-options="options">
        </canvas>
      </div>
      <div class="col s6">
        <h2 class="blue-text">Distribuição das Faltas</h2>
        <canvas id="radar" class="chart chart-radar animated slideInRight"
          chart-data="G1_data" chart-options="G1_options" chart-series="G1_series" chart-labels="G1_labels">
        </canvas>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <h2 class="blue-text">Minha % de Faltas por Cadeira</h2>
        <div class="col s1">

        </div>
        <div class="col s2">
          <canvas id="pie" class="chart chart-pie"
            chart-data="G5_data" chart-labels="G5_labels" chart-options="options">
          </canvas>
          <p style="text-align:center">
            GDI
          </p>
        </div>
        <div class="col s2">
          <canvas id="pie" class="chart chart-pie"
            chart-data="G6_data" chart-labels="G5_labels" chart-options="options">
          </canvas>
          <p style="text-align:center">
            ESS
          </p>
        </div>
        <div class="col s2">
          <canvas id="pie" class="chart chart-pie"
            chart-data="G7_data" chart-labels="G5_labels" chart-options="options">
          </canvas>
          <p style="text-align:center">
            PCOM
          </p>
        </div>
        <div class="col s2">
          <canvas id="pie" class="chart chart-pie"
            chart-data="G8_data" chart-labels="G5_labels" chart-options="options">
          </canvas>
          <p style="text-align:center">
            Sinais
          </p>
        </div>
        <div class="col s2">
          <canvas id="pie" class="chart chart-pie"
            chart-data="G9_data" chart-labels="G5_labels" chart-options="options">
          </canvas>
          <p style="text-align:center">
            Métodos
          </p>
        </div>
        <div class="col s1">

        </div>
      </div>
    </div>
  </body>
</html>
